<nz-row nzAlign="middle" nzJustify="space-between" class="app-header p-4">
    <nz-col nzSpan="12">
        <img src="meet-sync-logo.png" alt="Meet-Sync Logo" class="image" />
    </nz-col>
    <nz-col nzSpan="12">
        <nz-row nzAlign="middle" nzJustify="end" [nzGutter]="16">
            <nz-col class="gutter-row">
                <button nz-button nzType="primary"><span nz-icon nzType="form" nzTheme="outline"
                        class="icon"></span>Create Event</button>
            </nz-col>
            <nz-col class="gutter-row">
                <nz-avatar nzSize="large" class="gutter-row"></nz-avatar>
            </nz-col>
        </nz-row>
    </nz-col>
</nz-row>