<nz-row nzAlign="middle" nzJustify="space-between" class="app-header p-4">
    <nz-col nzLg="12" nzMd="12" nzSm="12" nzXs="12" (click)="navigateToLanding()">
        <img src="meet-sync-logo.png" alt="Meet-Sync Logo" class="image" style="width: 100%; max-width: 150px;">
    </nz-col>
    <nz-col nzLg="12" nzMd="12" nzSm="12" nzXs="12">
        <nz-row nzAlign="middle" nzJustify="end" [nzGutter]="16">
            <nz-col nzLg="auto" nzMd="auto" nzSm="auto" nzXs="auto" class="gutter-row">
                <button nz-button nzType="primary" (click)="openCreateEvent()" class="p-2">
                    <span nz-icon nzType="form" nzTheme="outline" class="icon"></span>
                    @if(!isMobileView){
                        <span>Create Event</span>
                    }
                </button>
            </nz-col>
            <nz-col nzLg="auto" nzMd="auto" nzSm="auto" nzXs="auto" class="gutter-row" (click)="navigateToDashboard()">
                <nz-avatar nzSize="large" [nzSrc]="pictureUrl()" class="gutter-row"></nz-avatar>
            </nz-col>
        </nz-row>
    </nz-col>
</nz-row>

<nz-modal
      [(nzVisible)]="isCreateEvent"
      [nzTitle]="undefined"
      [nzContent]="modalContent"
      [nzFooter]="null"
      [nzWidth]="isMobileView ? '90vw' : '70vw'"
      (nzOnCancel)="isCreateEvent = false"
>
    <ng-template #modalContent>
        @if(isLoggedIn()){
            <app-create-event></app-create-event>
        }
        @else {
            <div style="font-size: 1.2rem;">Please Login to create Event</div>
        }
    </ng-template>
</nz-modal>
