.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.calendar {
    .calendar-headline{
        padding: 20px;
    }

    .calendar-headline-month,
    .calendar-headline-control {
        user-select: none;
        color: #666;
        font-weight: bold;
        font-size: 1rem;
    }

    .calendar-weeks-grid {
        display: grid;
        grid-template-columns: repeat(7, 5rem);
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
        color: #666;
        gap: 5px;

        .calendar-weeks-grid-cell {
            padding: 10px;
            cursor: none;
            pointer-events: none;
            user-select: none;
        }
    }

    .calendar-grid {
        display: grid;
        grid-template-columns: repeat(7, 5rem);
        text-align: center;
        gap: 5px;

        .calendar-grid-cell {
            cursor: pointer;
            padding: 15px;
            background-color: #f9f9f9;
            border-radius: 4px;
            user-select: none;
        }
        .unavailable-days{
            background-color: #FF859D;
            color:white;
            cursor: not-allowed;
            opacity: 0.6;
            position: relative;
            &::after {
                content: 'Not Available!'; /* The message to display */
                position: absolute;
                bottom: 100%; /* Position above the element */
                left: 50%;
                transform: translateX(-50%);
                background-color: #333;
                color: white;
                padding: 5px;
                border-radius: 4px;
                opacity: 0;
                visibility: hidden;
                white-space: nowrap;
                font-size: 12px;
                z-index: 10;
                transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
              }
              
              &:hover::after {
                opacity: 1;
                visibility: visible;
              }
        }

        .calendar-grid-cell-active {
            background-color: #007bff;
            color: white;
        }

        .calendar-grid-cell-inactive {
            background-color: #e0e0e0;
            color: #999;
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.6;

            &:hover {
                background-color: #e0e0e0;
                cursor: not-allowed;
            }
        }
    }
}

