<div class="main-container">
    <nz-row class="container" nzAlign="middle" nzJustify="space-between">
        <nz-col nzSpan="12" nzXs="24" nzLg="12">
            <h1>Simplify Your Meetings</h1>
            <p>Meet sync helps to manage your time effectively. Create events, set your availability, and let others book time with you seamlessly</p>
            <div class="google-signin">
                @if(isLoggedIn | async){
                    <button nz-button nzType="primary" (click)="navigateToDashboard()"><span nz-icon nzType="dashboard" nzTheme="outline" class="icon"></span>Dashboard</button>
                }
                @else{
                    <app-login></app-login>
                }
            </div>
        </nz-col>
        <nz-col nzSpan="12" nzXs="24" nzLg="12">
            <img src="poster.png" alt="Two people having conversation with each other" class="image"/>
        </nz-col>
    </nz-row>
</div>