.main-container{
    .container{
        padding: 5rem;
        h1{
            font-size: 5rem;
            font-weight: 700;
            color: #1890ff;
        }
        p{
            font-size: 1.2rem;
            font-weight: 500;
        }
        .google-signin{
            width: 50%;
        }
        .image{
            margin: 5rem;
            max-width: 28rem;
            min-width: 16rem;
            width: 100%;
            aspect-ratio: 4/3;
            object-fit: contain;
        }
    }
}