<nz-row nzAlign="top" nzJustify="center">
    <nz-col nzSpan="24">
        <nz-row nzAlign="middle" nzJustify="center">
            <div class="py-4 title align-center">{{eventData()?.title}}</div>
        </nz-row>
    </nz-col>
    <nz-col nzLg="12" nzSm="24">
        <app-calendar [availabilityDays]="availability()" (selectedDay)="selectedDay($event)"></app-calendar>

    </nz-col>
    <nz-col nzLg="12" nzSm="24" class="p-4">
        <h3>Please select Time Slots: </h3>
        @if(activeDay()){
        <app-time-slots [bookableSlots]="availableTimeForSelectedDay" [bookedSlots]="bookedSlots" (nextEvent)="slotsBooked($event)"
            [maxSlots]="maxSlots()"></app-time-slots>
        @if(showNext() && selectedTimeSlots().length){
        <div class="py-6">
            <button nz-button nzType="primary" nzShape="round" (click)="joinEvent()"><span nz-icon
                    nzType="usergroup-add" nzTheme="outline"></span>Join the event</button>
        </div>
        }
        }
        @else {
        <div>Please select date to proceed!</div>
        }
    </nz-col>

</nz-row>