<nz-layout class="layout">
    <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzTheme="light" nzMode="vertical">
            @for(menu of menuList(); track $index){
                <li nz-menu-item [nzSelected]="selectedMenu() === menu.title" (click)="selectedMenu.set(menu.title)">
                    <span nz-icon [nzType]="menu.icon"></span>
                    <span>{{menu.title}}</span>
                </li>
            }
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header class="mx-4 mb-2 p-4">
            <h1>
                {{selectedMenu()}}
            </h1>
        </nz-header>
        <nz-content class="mx-4">
            <div class="inner-content">
                @switch (selectedMenu()) {
                    @case ('Dashboard') {
                        <app-dashboard></app-dashboard>
                    }
                    @case ('Events') {
                        <app-events></app-events>
                    }
                    @case ('Meetings') {
                        <app-meetings></app-meetings>
                    }
                    @case ('Availability') {
                        <app-availability></app-availability>
                    }
                    @default {
                        <app-dashboard></app-dashboard>
                    }
                }
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>